<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="APQuery" type="Symber.Data.Configuration.APQuerySection, Symber.Data, Version=4.5, Culture=neutral, PublicKeyToken=5f8081ae21b51971" requirePermission="false"/>
	</configSections>

	<appSettings>
	</appSettings>

	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Crm;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<APQuery defaultProvider="SqlServer">
		<providers>
			<add name="SqlServer" type="Symber.Data.SqlServer.SqlServerDataStoreProvider, Symber.Data.SqlServer"/>
		</providers>
	</APQuery>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
