<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="queryFramework" type="QueryFramework.Relational.Configuration.QueryFrameworkSection, QueryFramework.Relational, Version=4.5, Culture=neutral, PublicKeyToken=b06d7274b6e17369" requirePermission="false"/>
	</configSections>

	<appSettings>
	</appSettings>

	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Crm;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<queryFramework defaultProvider="SqlServer">
		<providers>
			<add name="SqlServer" type="QueryFramework.SqlServer.SqlServerDataStoreProvider, QueryFramework.SqlServer"/>
		</providers>
	</queryFramework>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
